<mat-toolbar>
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/cart" aria-label="Example icon-button with menu icon">
      <mat-icon>add_shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/order-tracking" aria-label="Example icon-button with menu icon">
      <mat-icon>playlist_add_check</mat-icon>
      Orders
    </button>
</mat-toolbar>

